body {background-color: #f2f2f2; overflow-x: hidden}
h1, p, ul, li {font-family: "Roboto Mono", monospace} 
h1 {font-size: 4em; font-weight: 600}
p {font-size: 2em; color: grey; margin-bottom: 30px;}
ul {list-style-type: none; padding: 0;}
li:nth-child(1) {color: #ce5284}
li:nth-child(2) {color: #e5a34c}
li:nth-child(3) {color: #5caae8}
li:nth-child(4) {color: #7f3fb9}
li {text-decoration: underline; display: inline; font-size: 1.3em; margin-right: 10px;}
a:hover {color: inherit; filter: brightness(85%); cursor:pointer}
li a {color: inherit}
.malign {margin-top: 38vh;}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

/* Breakpoints for font resizing */
@media only screen and (max-width: 600px) {
    h1 {font-size: 5em !important}
    p {font-size: 3em !important}
    li {font-size:2.3em !important}
}

@media only screen and (max-width: 400px) {
    h1 {font-size: 7em !important}
    p {font-size: 5em !important}
    li {font-size: 4.3em !important}
}